@import url(https://fonts.googleapis.com/css?family=Boogaloo);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400italic);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
body {
	color: rgb(105,105,105);
	background-color: rgb(255,255,255);
	font-family: 'Fira Sans', sans-serif;
	text-align: center;
	font-size: 24px;
}
.slogan {
	font-family: 'Fira Sans', sans-serif;
	color: rgb(0,0,0);
	font-style: italic;
	font-size: 3em;
}
h1 {
	font-family: 'Boogaloo', cursive;
	color: rgb(0,0,0);
	font-size: 4em;
	text-align: center;
}
.but-what {
	font-family: 'Fira Sans', sans-serif;
	font-size: 2.5em;
}
/*#Something {
	margin-left: 300px;
}*/
.unique {
	font-family: 'Fira Sans', sans-serif;
	color: rgb(255,255,255);
	background-color: rgb(228,18,79);
	font-size: 2.5em;
}
#why-not {
	font-family: 'Fira Sans', sans-serif;
	font-size: 2em;
	font-style: italic;
	color: rgb(0,0,0);
}
#small-print {
	font-family: 'Fira Sans', sans-serif;
	/*font-size: 0.5em;*/
}
#hr {
	color: rgb(228,18,79);
}
ul {
	list-style-type: none;
}
#awkward-teenager {
	/*display:block;*/
	/*margin:0 auto;*/
	/*width:200px;*/
	/*position:relative;*/
	/*top:50%;*/
	/*transform: translateY(-50%);*/
	/*float: right;*/
	/*padding: 100px 25px;*/
	/*width: 655px;*/
}
#test {
	float: right;
}
.images {
	display: block;
	text-align: left;
	margin-left: 200px;
	font-family: Lucida, serif;
	font-size: 1.2em;
}
.align1{
	vertical-align: middle;
	box-shadow: 5px 5px 3px #888888;
}
.align2{
	vertical-align: middle;
}
.arrow{
	vertical-align: middle;
}