@import url(https://fonts.googleapis.com/css?family=Boogaloo);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400italic);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);

body {
	color: rgb(105,105,105);
	background-color: rgb(255,255,255);
	font-family: 'Fira Sans', sans-serif;
	text-align: center;
	font-size: 24px;
}
nav {
	background-color: rgb(211,211,211);
	height: 170px;
}
#logo {
	float: left;
	margin-top: 10px;
	margin-left: 40px;
	padding: .3em;
	width: 200px;
}
#nav1 {
	float: left;
	margin-top: 50px;
	margin-left: 250px;
	padding: .2em,.1em,0;
	background-color: rgb(255,255,0);
	border: 2px black solid;
	font-size: 3em;
	font-style: italic;
	text-decoration: none;
	color: rgb(59,59,59);
	width: 600px;
	height: 100px;
}
#nav2 {
	float: left;
	margin-top: 50px;
	margin-left: 90px;
	padding: .2em,.1em,0;
	background-color: rgb(255,255,0);
	border: 2px black solid;
	font-size: 1.5em;
	font-style: italic;
	text-decoration: none;
	color: rgb(59,59,59);
	width: 200px;
	height: 100px;
}
#nav3 {
	float: left;
	margin-top: 50px;
	margin-left: 90px;
	padding: .2em,.1em,0;
	background-color: rgb(255,255,0);
	border: 2px black solid;
	font-size: 1.5em;
	font-style: italic;
	text-decoration: none;
	color: rgb(59,59,59);
	width: 200px;
	height: 100px;
}

.slogan {
	font-family: 'Fira Sans', sans-serif;
	color: rgb(0,0,0);
	font-style: italic;
	font-size: 3em;
}
h1 {
	font-family: 'Boogaloo', cursive;
	color: rgb(0,0,0);
	font-size: 4em;
	text-align: center;
	margin: 0,0;
}
#slogan2 {
	background-color: rgb(211,211,211);
	height: 450px;
}
.but-what {
	font-family: 'Fira Sans', sans-serif;
	font-size: 2.5em;
}
#box-text {
	padding: .1em .1em 0 .1em;
	color: rgb(59,59,59);
	background-color: rgb(255,255,0);
	border: 2px rgb(59,59,59) solid;
}

.unique {
	font-family: 'Fira Sans', sans-serif;
	color: rgb(255,255,255);
	background-color: rgb(228,18,79);
	font-size: 2.5em;
}
#why-not {
	font-family: 'Fira Sans', sans-serif;
	font-size: 2em;
	font-style: italic;
	color: rgb(0,0,0);
}
#small-print {
	font-family: 'Fira Sans', sans-serif;
	/*font-size: 0.5em;*/
}
#hrx {
	border-style: solid;
	border-color: rgb(75,75,75);
	background-color: rgb(75,75,75);
	height: .1em;
}
ul {
	list-style-type: none;
}
.float1 {
	float: left;
	height: 200px;
	padding-right: 10px;
}
.afterfloat1 {
	margin-top: 110px;
	margin-bottom: 60px;
}
.afterfloat2 {
	margin-top: 110px;
	margin-bottom: 110px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

.images1 {
	display: block;
	text-align: left;
	margin-left: 50px;
	padding: 40px;
	width: 1300px;
	font-family: Lucida, serif;
	font-size: 1.5em;
	color: rgb(220,20,60);
	background-image: url("images/whitewood.png");
	background-size: cover;
	background-color: rgb(250,250,250);
}
.images2 {
	display: block;
	text-align: left;
	margin-left: 50px;
	padding: 40px;
	width: 1300px;
	font-family: Lucida, serif;
	font-size: 1.5em;
	color: rgb(220,20,60);
	background-color: rgb(255,204,255);
}
.images3 {
	display: block;
	text-align: left;
	margin-left: 50px;
	padding: 40px;
	width: 1300px;
	font-family: Lucida, serif;
	font-size: 1.5em;
	color: rgb(220,20,60);
	background-color: rgb(194,243,246);
}
.images4 {
	display: block;
	text-align: left;
	margin-left: 50px;
	padding: 40px;
	width: 1300px;
	font-family: Lucida, serif;
	font-size: 1.5em;
	color: rgb(220,20,60);
	background-color: rgb(176,251,139);
}
.images5 {
	display: block;
	text-align: left;
	margin-left: 50px;
	padding: 40px;
	width: 1300px;
	font-family: Lucida, serif;
	font-size: 1.5em;
	color: rgb(220,20,60);
	background-color: rgb(215,193,250);
	}
.align1{
	vertical-align: middle;
	box-shadow: 5px 5px 3px #888888;
}
.align2{
	vertical-align: middle;
}
.arrow{
	vertical-align: middle;
}
aside {
	font-size: 2em;
	color: rgb(0,0,0);
	background-color: rgba(255,255,0,.5);
}
#whatuneed {
	font-style: italic;
	color: rgb(220,20,60);
}
.hasht {
	color: rgb(0,0,255);
}
footer {
	background-color: rgb(211,211,211);
}
.slogan2 {
	font-family: 'Fira Sans', sans-serif;
	color: rgb(0,0,0);
	font-size: 2em;
}