@import url(https://fonts.googleapis.com/css?family=Boogaloo);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400italic);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: auto;
	color: rgb(105,105,105);
	background-color: rgb(255,255,255);
	font-family: 'Fira Sans', sans-serif;
	text-align: center;
	font-size: 16px;
}
.wrapper {
	max-width: 1200px;
	margin: auto;
}
header {
	background-color: rgb(211,211,211);
	padding: 1%;	
}
#logo {
	float: left;
	width: 17%;
	min-width: 120px;
}
nav {
	margin: 0 auto;
	
}
.nav1 {
	display: inline-block;
	width: 10em;
	height: 4em;
	margin-top: 1em;
	margin-left: 1em;
	padding: .1em;
	background-color: rgb(255,255,0);
	border: 2px black solid;
	font-size: 1.4em;
	font-style: italic;
	text-decoration: none;
	color: rgb(59,59,59);
}
a.nav1:hover {
	color: rgb(220,20,60);
}

.graphic1 {
	float: left;
	width: 4.5em;
	height: auto;
	vertical-align: middle;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}
.slogan {
	font-family: 'Fira Sans', sans-serif;
	color: rgb(0,0,0);
	font-style: italic;
	font-size: 2em;
	padding: .5em 0;
}
h1 {
	font-family: "Boogaloo", cursive;
	color: rgb(0,0,0);
	font-size: 4em;
	text-align: center;
	margin: .8em 0;
	clear: both;
}
p {
	padding: .2em 0;
}
#Drunk_Old_Fart {
	margin: .1% 0;
	width: 99.8%;
}
#slogan2 {
	background-color: rgb(211,211,211);
	padding: .3% 0;
	margin-bottom: 1%;
}
.but-what {
	font-family: 'Fira Sans', sans-serif;
	font-size: 2em;
	line-height: 1.5em;
	padding: .5em 0;
}
.box-text {
	margin-top: .1em;
	margin-bottom: .1em;
	padding: .1em .1em 0 .1em;
	color: rgb(59,59,59);
	background-color: rgb(255,255,0);
	border: 2px rgb(59,59,59) solid;
	text-decoration: none;
}
a.box-text:hover {
	color: rgb(220,20,60);
}
#why-not {
	font-family: 'Fira Sans', sans-serif;
	font-size: 1.5em;
	font-style: italic;
	color: rgb(0,0,0);
	padding-top: 1em;
}
.small-print {
	font-family: 'Fira Sans', sans-serif;
	/*font-size: 16px;*/
	/*color: rgb(105,105,105);*/
}
#hrx {
	border-style: solid;
	border-color: rgb(75,75,75);
	background-color: rgb(75,75,75);
	height: .1em;
}
ul {
	list-style-type: none;
}
.float1 {
	margin: 0 auto;
	padding: 1% 0 1% 20%;
}

.afterfloat {
	clear: both;
	padding: 1% 0 1% 13%;
}

#ideas {
	/*float: left;*/
	width: 100%;
}

.idea1 {
	text-align: left;
	margin-bottom: .5%;
	padding: 1%;
	font-family: Lucida, serif;
	font-size: 1.5em;
	color: rgb(220,20,60);
	background-size: cover;
	background-color: rgb(240,240,240);
	border: 2px rgb(105,105,105) solid;
	width: 49%;
	display: inline-block;
	}
.idea2 {
	text-align: left;
	margin-bottom: .5%;
	padding: 1%;
	font-family: Lucida, serif;
	font-size: 1.5em;
	color: rgb(220,20,60);
	background-size: cover;
	background-color: rgb(220,220,200);
	border: 2px rgb(105,105,105) solid;
	width: 49%;
	display: inline-block;
}

.image1{
	display: block;
	box-shadow: 5px 5px 3px #888888;
	height: 8em;
	margin-bottom: .5em;
}
.image2{
	display: block;
	height: 8em;
	margin-bottom: .5em;	
}
.image3 {
	padding-left: 10%;
	height: 22em;
}
.image4 {
	padding-left: 2%;
	height: 15em;
}
.image5 {
	float: left;
	height: 6em;	
}
.image6 {
	display: block;
	box-shadow: 5px 5px 3px #888888;
	height: 7em;
	margin-left: .1em;
	margin-bottom: .5em;
}
.image7 {
	padding-left: 2%;
	height: 17.5em;
}
.image8 {
	display: block;
	box-shadow: 5px 5px 3px #888888;
	height: 7.37em;
	margin-left: .1em;
	margin-bottom: .5em;
}
.accentuate {
	font-weight: bold;
}
aside {
	display: block;
	width: 100%;
	margin-bottom: 1%;
	padding: 1.5% 1.5% 5% 2%;
	/*font-size: 1.5em;*/
	color: rgb(0,0,0);
	background-color: rgb(211,211,211);
	border: 2px rgb(105,105,105) solid;
}
aside #aside-top {
	width: 10em;
	height: auto;
	margin: auto;
	padding: .25em;
	background-color: rgb(255,255,0);
	border: 2px black solid;
	font-style: italic;
	font-size: 1.5em;
	color: rgb(59,59,59);
}
.graphic2 {
	float: left;
	width: 4.5em;
	height: auto;
	vertical-align: middle;
}
#aside-list {
	clear: both;
	/*padding-bottom: 1em;*/
	margin-bottom: 2em;
}
.tick {
	height: 1.5em;
}
aside div ul li {
	text-align: left;
	padding-top: 1.5em;
	font-size: 1.5em;
}
aside #aside-bottom {
	width: 10em;
	height: auto;
	margin: auto;
	padding: .25em;
	background-color: rgb(255,255,0);
	border: 2px black solid;
	font-style: italic;
	font-size: 1.5em;
	color: rgb(59,59,59);
}
aside div p {
	padding: 1.5em .5em;
	text-align: center;
	font-size: 1.5em;
}
.email {
	text-decoration: none;
	color: rgb(220,20,60);
}
footer {
	clear: both;
	margin-top: 1%;
	background-color: rgb(211,211,211);
}
footer section {
	padding: 1%;
}
#logo2 {
	height: 12%;
	padding: 4% 1%;
	font-family: 'Fira Sans', sans-serif;
	color: rgb(0,0,0);
	font-size: 2em;
	text-decoration: none;
}
a#logo2:hover {
	color: rgb(220,20,60);
	background-color: rgb(240,240,240);
	}
.graphic3 {
	vertical-align: middle;
	height: 4em;	
}
@media screen and (max-width: 1050px) {
	.nav1 {
		font-size: 1em;
	}

	.idea1, .idea2, aside {
		font-size: 1.2em;
	}
	h1 {
		font-size: 3em;
	}
	.slogan, .but-what, #why-not, #logo2 {
		font-size: 1.5em;
	}
}
@media screen and (max-width: 800px) {
	#logo {
		float: none;
	}
	.nav1 {
		margin-left: 0;
		font-size: .93em;
	}
	.idea1, .idea2, aside {
		float: none;
		display: block;
		width: 100%;
		font-size: 1.5em;
	}
	.image5 {
		float: right;
		height: 7em;
	}
	
	aside div p {
		font-size: 1em;
	}
	#footer_smallprint {
		display: none;
	}
}

@media screen and (max-width: 500px) {
		#logo {
			float: left;
		}
		nav {
			float: right;
		}
		.nav1 {
			display: block;
			height: 1.5em;
			margin: .3em auto;
			font-size: 1.4em;
		}
		.graphic1 {
			width: 0;
		}
		h1 {
			margin: .5em .2em;
		}
		.image3 {
			padding-left: 2%;
		}
		.image4 {
			padding-left: 0;
			height: 13em;
		}
			
		.image5 {
			height: 5em;
		}
}
@media screen and (max-width: 430px) {
		h1 {
			font-size: 3em;
		}
		.slogan {
			font-size: 1.9em;
			padding: .2em 0;
		}
		#Drunk_Old_Fart {
			margin: 0 auto;
			height: 205px;
			width: auto;
		}
		.but-what {
			font-size: 1.9em;
			padding: .2em 0;
		}
		.image3 {
			padding: 0;
			height: 20em;
		}
		.image4 {
			padding: 0;
			height: 11.5em;
		}
		.image5 {
			height: 4em;
		}
}
