@import url(https://fonts.googleapis.com/css?family=Boogaloo);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400italic);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
body {
	color: rgb(105,105,105);
	background-color: rgb(255,255,255);
	font-family: 'Fira Sans', sans-serif;
	text-align: center;
	font-size: 24px;
}
nav {
	background-color: rgb(211,211,211);
}
#logo {
	text-align: left;
	margin-left: 150px;
	padding: .2em;
}
#nav1 {
	margin-left: 300px;
	padding: .2em;
	background-color: white;
	border: 2px black solid;
	font-size: 3em;
}
#nav2 {
	margin-left: 200px;
	padding: .3em;
	background-color: white;
	border: 2px black solid;
	font-size: 1.5em;
}
#nav3 {
	margin-left: 50px;
	padding: .3em;
	background-color: white;
	border: 2px black solid;
	font-size: 1.5em;
}

.slogan {
	font-family: 'Fira Sans', sans-serif;
	color: rgb(0,0,0);
	font-style: italic;
	font-size: 3em;
}
h1 {
	font-family: 'Boogaloo', cursive;
	color: rgb(0,0,0);
	font-size: 4em;
	text-align: center;
}
.but-what {
	font-family: 'Fira Sans', sans-serif;
	font-size: 2.5em;
}
#box-text {
	padding: .1em .1em 0 .1em;
	color: white;
	background-color: rgb(228,28,79)
}

.unique {
	font-family: 'Fira Sans', sans-serif;
	color: rgb(255,255,255);
	background-color: rgb(228,18,79);
	font-size: 2.5em;
}
#why-not {
	font-family: 'Fira Sans', sans-serif;
	font-size: 2em;
	font-style: italic;
	color: rgb(0,0,0);
}
#small-print {
	font-family: 'Fira Sans', sans-serif;
	/*font-size: 0.5em;*/
}
#hr {
	color: rgb(228,18,79);
}
ul {
	list-style-type: none;
}

.images1 {
	display: block;
	text-align: left;
	margin-left: 200px;
	font-family: Lucida, serif;
	font-size: 1.2em;
	background-color: #E89C6C;
}
.images2 {
	display: block;
	text-align: left;
	margin-left: 200px;
	font-family: Lucida, serif;
	font-size: 1.2em;
	background-color: #FFE2B8;
}
.align1{
	vertical-align: middle;
	box-shadow: 5px 5px 3px #888888;
}
.align2{
	vertical-align: middle;
}
.arrow{
	vertical-align: middle;
}
aside {
	font-size: 2em;
	color: rgb(0,0,0);
	background-color: #FFC675;
}
footer {
	background-color: #FF957E;
}